<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

<div class="row g-3">
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

<label for="" class="form-label">id</label>
<input name="id" [(ngModel)]="id" type="text" class="form-control">


    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">title</label>
        <input name="title" [(ngModel)]="title" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">


        <label for="" class="form-label">description</label>
        <input name="description" [(ngModel)]="description" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">price</label>
        <input name="price" [(ngModel)]="price" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">discountPercentage</label>
        <input name="discountPercentage" [(ngModel)]="discountPercentage" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">rating</label>
        <input name="rating" [(ngModel)]="rating" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">


        <label for="" class="form-label">stock</label>
        <input name="stock" [(ngModel)]="stock" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">brand</label>
        <input name="brand" [(ngModel)]="brand" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">category</label>
        <input name="category" [(ngModel)]="category" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

        <label for="" class="form-label">thumbnail</label>
        <input name="thumbnail" [(ngModel)]="thumbnail" type="text" class="form-control">

    </div>
    <div class="col col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 col-xxl-12">

<button (click)="read()" class="btn btn-danger">SEARCH</button>

    </div>
</div>


        </div>
    </div>
</div>